html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;

  font-family: sans-serif;
}

h1{
  font-size:3rem;
  font-weight: bold;
}

li{
  font-size:2rem;
  line-height:2;
}
