html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: black;

  font-family: sans-serif;
  font-size:10rem;

  display:flex;
  justify-content:center;
  align-items:center;

  height:100%;
}
