html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: sans-serif;
  font-size:2rem;
}
h1{
  font-size: 4rem;
}

.box{
  border: .2rem solid blue;
  width: 10rem;
  height: 10rem;  
  
  color: blue;
  display:flex;
  justify-content: center;
  align-items: center;
}

